<app-sidebar></app-sidebar>>
<section class="apps-hero w-full h-full">
  <div class="flex gap-x-4 justify-center mx-auto text-black">
    <div
      class="flex flex-col container w-[1000px] max-w-[1000px] ml-40 relative gap-y-3 px-6 py-3 rounded-xl"
    >
      <h3 class="border-solid border-b-2 border-slate-500 text-lg uppercase">
        área de trabajo / Nuevo rol
      </h3>

      <form class="w-full max-w-2xl" [formGroup]="formulario">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3 flex flex-col">
            <input
              id="nombre"
              type="text"
              class="shadow appearance-none block w-full bg-transparent text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none border-gray-400"
              minlength="5"
              formControlName="nombre"
              [class.invalido]="
                controlNombre.touched && controlNombre.hasError('required')
              "
            />
            <small
              class="alert-panel alert-danger"
              role="alert"
              *ngIf="controlNombre.touched && controlNombre.invalid"
            >
              El nombre del rol es requerido
            </small>
            <small
              class="alert-panel alert-danger"
              role="alert"
              *ngIf="controlNombre.errors?.['minlength']"
            >
              El nombre del rol tiene que tener al menos 5 letras.
            </small>
          </div>
        </div>
        <button
          class="bg-blue-600 hover:bg-blue-700 duration-500 px-4 py-3 rounded text-white"
          (click)="cargarRol()"
        >
          Cargar rol
        </button>
      </form>
    </div>
  </div>
</section>
