<app-sidebar></app-sidebar>
<section class="apps-hero w-full h-full">
  <div class="flex gap-x-4 justify-center mx-auto text-black">
    <div
      class="flex flex-col container w-[1000px] max-w-[1000px] ml-40 relative gap-y-3 px-6 py-3 rounded-xl"
    >
      <div class="flex justify-between">
        <div class="">
          <h3 class="uppercase text-lg">Inicio</h3>
          <hr class="border border-slate-700" />
        </div>
        <app-reloj></app-reloj>
      </div>
      <p class="text-md font-bold text-gray-700">Bienvenido naku.24gabriel</p>
      <p class="text-md font-bold text-gray-700 uppercase">
        ¿Qué querés hacer hoy?
      </p>
      <div class="block items-center space-y-4">
        <div class="grid lg:grid-cols-2 gap-x-4">
          <div class="border border-gray-400 text-gray-500 h-52 rounded block">
            <div class="w-96 mx-auto py-2">
              <h2 class="text-sm uppercase text-gray-500">
                Páginas visitadas recientemente
              </h2>
            </div>
          </div>
          <div class="border border-gray-400 text-gray-500 h-52 rounded block">
            <div class="w-96 mx-auto py-2">
              <h2 class="text-sm uppercase text-gray-500">
                Proyectos visitados recientemente
              </h2>
            </div>
          </div>
        </div>
        <!-- <div class="grid lg:grid-cols-1">
          <div class="border border-gray-400 h-52 rounded"></div>
        </div> -->
      </div>
    </div>
  </div>
</section>
