<section
  class="w-full h-[60vh] flex items-center justify-center text-black"
  id="casos-de-uso"
>
  <div
    class="container w-[1100px] max-w-[100%] mx-auto relative p-0 flex flex-col gap-y-5"
  >
    <h2 class="text-center text-4xl">Casos de Uso</h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-x-4">
      <div class="flex flex-col max-w-[350px] w-[350px]">
        <div
          class="bg-orange-400 text-left px-4 h-[40px] w-[100%] z-50 rounded-t-xl"
        >
          <i
            class="fa-solid fa-folder-open absolute top-20 text-orange-500 rounded-lg bg-white p-2 text-[25px]"
          ></i>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-white rounded-b-xl gap-y-2 py-4 h-[200px] w-[100%]"
        >
          <h4 class="font-bold text-xl py-2">Gestión de proyectos</h4>
          <div class="flex justify-center items-center mx-auto max-w-[80%]">
            <p class=" ">
              ProjectPlanner te permite mantener las tareas en orden, plazos
              controlados y una mejor organización.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col max-w-[350px] w-[350px]">
        <div
          class="bg-green-400 text-left px-4 h-[40px] w-[100%] z-50 rounded-t-xl"
        >
          <i
            class="fa-solid fa-computer absolute top-20 text-green-500 rounded-lg bg-white p-2 text-[25px]"
          ></i>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-white rounded-b-xl gap-y-2 py-4 h-[200px] w-[100%]"
        >
          <h4 class="font-bold text-xl py-2">Inicio de Proyecto</h4>
          <div class="flex justify-center items-center mx-auto max-w-[80%]">
            <p class=" ">
              Iniciar un proyecto no podría ser más sencilla utilizando
              Proyectupt. Te muestra las tareas pendientes, los recursos y el
              seguimiento del progreso.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col max-w-[350px] w-[350px]">
        <div
          class="bg-blue-400 text-left px-4 h-[40px] w-[100%] z-50 rounded-t-xl"
        >
          <i
            class="fa-solid fa-cloud absolute top-20 text-blue-500 rounded-lg bg-white p-2 text-[25px]"
          ></i>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-white rounded-b-xl gap-y-2 py-4 h-[200px] w-[100%]"
        >
          <h4 class="font-bold text-xl py-2">Lluvia de ideas</h4>
          <div class="flex justify-center items-center mx-auto max-w-[80%]">
            <p class=" ">
              Anota todas tus ideas y mantén la visibilidad de ellas,
              desarrollas y verifica su utilidad práctica.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
