<section
  class="w-full h-screen flex items-center justify-center text-black"
  id="donaciones"
>
  <div class="container w-[1100px] max-w-[100%] mx-auto relative p-0">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-x-8">
      <!-- lado izquierdo -->
      <div class="flex flex-col gap-y-6">
        <h3 class="flex text-[40px] font-bold text-center justify-center">
          Donaciones
        </h3>
        <p class="text-xl">
          <strong>ProjectPlanner</strong> es una aplicación sin fines de lucro ,
          es decir que podes utilizarla de manera gratuita. Sin embargo,
          ProjectPlanner acepta donaciones con el fin de mejorar diariamente
          nuestra plataforma para que tengas una grata experiencia en el uso de
          la misma.
        </p>
        <p class="text-xl">
          Las donaciones son realizadas a través de la aplicación Mercado Pago.
          Nuestro sistema de donaciones es simple, podes elegir un monto a donar
          ya definido ó ingresas un nuevo monto a donar.
        </p>
      </div>
      <!-- lado derecho -->
      <div
        class="items-center text-center border-solid border-2 border-blue-500 p-3 rounded-lg"
      >
        <div class="flex flex-col p-3 justify-center gap-y-3">
          <span class="text-[30px] font-bold"> Elegí el monto a donar </span>
          <div class="flex gap-x-4 justify-center text-white">
            <button
              class="rounded-full bg-blue-500 hover:bg-blue-600 py-3 px-4"
            >
              $5
            </button>
            <button class="rounded-full bg-blue-500 hover:bg-blue-600 p-3">
              $10
            </button>
            <button class="rounded-full bg-blue-500 hover:bg-blue-600 p-3">
              $50
            </button>
            <button class="rounded-full bg-blue-500 hover:bg-blue-600 p-3">
              $100
            </button>
          </div>
          <p>Ó</p>
          <div class="bg-slate-400 py-3 rounded-lg">
            <p class="text-black">Ingresa el monto a donar</p>
          </div>
          <div
            class="border-solid border-2 border-blue-500 bg-white text-black rounded-lg"
          >
            <div
              class="py-2 my-8 border-solid border-2 rounded-lg border-slate-400 mx-3 flex gap-x-2 items-center justify-center"
            >
              <small class="font-bold">$</small>
              <input
                type="number"
                placeholder="60"
                class="focus:outline-none"
              />
              <small class="font-bold">ARG</small>
            </div>

            <button
              class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-2 rounded-lg my-2"
            >
              Realizar donación
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
