<section class="w-full h-80 flex items-center justify-center text-black">
  <div
    class="items-center text-center p-6 rounded-md max-w-[900px] w-[900px] flex flex-col gap-y-4"
  >
    <div class="flex">
      <i class="fa-solid fa-gamepad-modern"></i>
      <h2 class="text-[45px] font-bold leading-normal">
        ProjectPlanner facilita a los equipos la gestión de proyectos y tareas
      </h2>
    </div>
    <p class="px-5 py-2 text-[20px]">
      ¿Qué es ProjectPlanner? ProjectPlanner es una herramienta visual que
      permite a los equipos gestionar cualquier tipo de proyecto y tareas. Solo
      tienes que registrarte y listo!
    </p>
    <div class="flex justify-center items-center text-white">
      <button
        class="bg-blue-500 px-4 py-3 rounded-md hover:bg-blue-600 duration-500"
      >
        Regístrate,¡es gratis!
      </button>
    </div>
  </div>
</section>
