<app-navbar></app-navbar>
<section
  class="w-full h-screen flex items-center justify-center text-black"
  id="inicio"
>
  <div class="container w-[1100px] max-w-[100%] mx-auto relative p-0 mt-10">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-x-8">
      <!-- lado izquierdo -->
      <div class="flex flex-col gap-y-6 mt-10">
        <h2>Contacto</h2>
        <div class="flex flex-col gap-y-3 text-[14px]">
          <p>
            Si tienes alguna duda, inconveniente o sugerencia déjanos un mensaje
            por correo electrónico.
          </p>
          <div class="px-4">
            <span class="italic font-bold border-l-4 border-gray-700 px-3"
              >CORREO: projectplanneroficial@gmail.com
            </span>
          </div>
        </div>
      </div>
      <!-- lado derecho -->
      <div class="items-center justify-center flex flex-col">
        <img
          src="assets/email.png"
          alt=""
          class="rounded-xl object-cover w-80"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
