<section
  class="w-full h-screen flex items-center justify-center text-black"
  id="gestion-proyectos"
>
  <div class="container w-[1100px] max-w-[100%] mx-auto relative p-0">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-x-8">
      <!-- lado izquierdo -->
      <img
        src="https://images.klipfolio.com/website/public/8be365cb-7c1b-4a4e-a90d-f588f0553be1/marketing%20dashboard.png"
        alt=""
        class="rounded-xl"
      />
      <!-- lado derecho -->
      <div class="flex flex-col gap-y-4">
        <h2 class="text-center text-4xl">Gestión de Proyectos</h2>
        <div class="flex flex-col gap-y-8 text-xl">
          <p class="text-center font-sans">
            Una plataforma para empresas, agencias y uso personal.
          </p>
          <div class="gap-x-3 flex items-center">
            <i class="fa-solid fa-circle-check text-[25px] text-blue-500"></i>
            Consolide los datos en un sistema de gestión de proyectos.
          </div>
          <div class="gap-x-3 flex items-center">
            <i class="fa-solid fa-circle-check text-[25px] text-blue-500"></i>
            Utilice la herramienta para una mejor organización y planificación.
          </div>
          <div class="gap-x-3 flex items-center">
            <i class="fa-solid fa-circle-check text-[25px] text-blue-500"></i>
            Optimice el trabajo y este centrado en las prioridades.
          </div>
          <div class="gap-x-3 flex items-center">
            <i class="fa-solid fa-circle-check text-[25px] text-blue-500"></i>
            Supervise el estado de sus proyectos.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
